
#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    padding-top: 125px;
    position: relative;
}

#banner{
    background-image: url("../image/bg-headline.png");
    background-position: center;
    background-size: cover;
}

#banner .banner-headline {
    display: flex;
    align-items: center;
    flex: 1;

}

#banner .image-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex:1;
}

#banner .gradiente {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(254, 225, 255, 0) 45%,#32328b);
    position: absolute;
    display: none;
}

#banner .image-banner img {
    width: 80%;
}

#banner h3 {
    font-weight: 500;
    color: #58b4df;
}

#banner h1 {
    font-size: 65px;
    letter-spacing: -3px;
    font-weight: 700;
    color: #ffffff;
}

#banner h2 {
    font-weight: 600;
    margin-bottom: 5px;
    color: #58b4df;
}

#banner .technologies {
    display: flex;
    margin-bottom: 15px;
}

#banner .technologies img {
    margin-right: 15px;
    margin-bottom: 10px;
}

#banner p {
    color: rgb(221, 221, 221);
    max-width: 450px;
}

#banner .bt-headline{
    display: flex;
    margin-top: 15px;
}

.bt-padrão {
    display: inline-block;
    background-color: #00aeff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: 600;
    margin-right: 15px;
}

#banner .bt-git {
    display: inline-block;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: 600;
    border: 1px solid #ffffff;
}

#banner .bt-git img {
    margin-right: 5px;
}

#banner .bt-git:hover {
    text-decoration: underline;
}

